<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <h1><%= title %></h1>

        <ul>

            
        <ul>
            <li>이름: <%= userInfo.username %> </li>
            <li></li>성별: <%= userInfo.gender %>
            <li></li>생일: <%= userInfo.birthYear %> <%= userInfo.birthMonth %> <%= userInfo.birthDay %>
            <li></li>취미: <%= userInfo.hobby %>
            <li></li>색상: <%= userInfo.myColor %>
            <li></li>숫자: <%= userInfo.myNumber %>
           
        </ul>
           
           
        </ul>
       
     <a href="/">홈으로 이동 </a>
</body>

</html>